@using Core
@model RedisKeyRenameViewModel
<div class="card-dark mt-4">
        <h3>Rename Key</h3>

        <form method="post" class="row g-3">

            <div class="col-md-2">
                <label>DB</label>
                <input asp-for="DatabaseNumber" class="form-control bg-secondary text-light" />
            </div>

            <div class="col-md-4">
                <label>Old Key</label>
                <input asp-for="OldKey" class="form-control bg-secondary text-light" />
            </div>

            <div class="col-md-4">
                <label>New Key</label>
                <input asp-for="NewKey" class="form-control bg-secondary text-light" />
            </div>

            <div class="col-12">
            <button class="btn btn-success w-100 mt-3">Generate Script</button>
            </div>
        </form>

        @await Html.PartialAsync("_ScriptResult", Model)

</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />


}