@model Core.MongoRenameCollectionViewModel
@{
    ViewData["Title"] = "Rename MongoDB Collection";
}

<div class="card-dark mt-4">
    <h3 class="mb-3">Rename MongoDB Collection</h3>

    <form asp-action="RenameCollection" method="post">
        <div class="row g-3">

            <div class="col-md-4">
                <label asp-for="DatabaseName"></label>
                <input asp-for="DatabaseName" class="form-control" placeholder="Example: AppDB" />
                <span asp-validation-for="DatabaseName" class="text-danger"></span>
            </div>

            <div class="col-md-4">
                <label asp-for="OldCollectionName"></label>
                <input asp-for="OldCollectionName" class="form-control" placeholder="Old Collection Name" />
                <span asp-validation-for="OldCollectionName" class="text-danger"></span>
            </div>

            <div class="col-md-4">
                <label asp-for="NewCollectionName"></label>
                <input asp-for="NewCollectionName" class="form-control" placeholder="New Collection Name" />
                <span asp-validation-for="NewCollectionName" class="text-danger"></span>
            </div>

            <div class="col-12">
                <button class="btn btn-success w-100 mt-3">Generate Script</button>
            </div>

        </div>
    </form>

    @await Html.PartialAsync("_ScriptResult", Model)
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />


}