@using Core
@model RedisCounterViewModel

<div class="card-dark mt-4">
        <h3>Redis Counters</h3>
        <form method="post" class="row g-3">
            <div class="col-md-6">
                <label>Key</label>
                <input asp-for="Key" class="form-control bg-secondary text-light" />
            </div>
            <div class="col-md-6">
                <label>Amount (optional)</label>
                <input asp-for="Amount" class="form-control bg-secondary text-light" type="number" />
            </div>

            <div class="col-12 mt-3">
                <div class="btn-group flex-wrap" role="group">
                    <button name="actionType" value="INCR" class="btn btn-success">INCR / INCRBY</button>
                    <button name="actionType" value="DECR" class="btn btn-danger">DECR / DECRBY</button>
                </div>
            </div>
        </form>

        @await Html.PartialAsync("_ScriptResult", Model)

</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />


}